.tools {
    padding: 50px 0;
    background: #fbf7f4;
}

.tools .container {
    width: 92%;
    margin: 0 auto;
}

.tools .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 430px;
}

.tools .tool-box {
    width: 14.4%;
    height: 160px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    padding: 20px 0;
    text-align: center;
    transition: 0.5s;
}

.tools .tool-box:hover {
    box-shadow: none;
}

.tools .tool-box img {
    width: 70px;
}

.tool-box h3 {
    color: rgb(9, 65, 34);
    font-size: 14.5px;
}

/* media query */
@media only screen and (max-width: 768px) {

    .tools .content {
        height: 1160px;
    }
    
    .tools .tool-box {
        width: 45%;
    }

}