.header {
    position: relative;
    height: 130vh;
    background: #1e242f;
    padding: 80px 0;
}

.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: url('../../../../../public/images/wave2.png');
}

.header .container {
    width: 94%;
    margin: 0 auto;
}

.header .content {
    display: flex;
    justify-content: center;
}

.header .img-box {
    width: 48%;
}

.header .img-box img {
    width: 100%;
}

.header .txt-box {
    position: relative;
    width: 48%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header .txt-box-content {
    position: absolute;
    z-index: 1;
}

.header .title {
    color: #fcfcfd;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.header .description {
    color: #778396;
    font-size: 16px;
    margin-bottom: 40px;
    width: 80%;
}

.header .grediant-word {
    background: -webkit-linear-gradient(#ebc96c, #ee7b70, #614dd3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .btns button {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.header .get-started-btn {
    background: #6a57e0;
    color: #fff;
    border: 1px solid #6a57e0;
    margin-right: 30px;
}

.header .portfolio-btn {
    position: relative;
    background: none;
    color: #71e0b8;
    border: 1px solid #71e0b8;
}

.btn-icon {
    color: #71e0b8;
    font-size: 21px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.header .portfolio-btn:hover {
    background: #176146;
    border: 1px solid #176146;
    color: #fff;
}

.header .back-image {
    position: absolute;
    width: 120%;
    height: 140%;
    top: -100px;
    left: -50px;
    z-index: -1;
}

.header .back-image img {
    width: 100%;
}


/* media query */
@media only screen and (max-width: 768px) {

    .header {
        height: 111vh;
    }

    .header .container {
        width: 90%;
    }

    .header .img-box {
        display: none;
    }

    .header .txt-box {
        width: 100%;
    }

    .header .txt-box h1 {
        font-size: 36px;
        line-height: 55px;
    }

    .header .get-started-btn {
        margin-bottom: 15px;
    }

}