.page-head {
    background: #1e242f;
}

.page-head .pagehead-container {
    position: relative;
    width: 100%;
    height: 315px;
    background-image: url('../../../public/images/PageHead\ images/back.png');
    background-size: cover;
}

.page-head .pagehead-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(30 36 47 / 87%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-head .pagehead-container .overlay::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: url('../../../public/images/PageHead\ images/wave2.png');
}

.page-head .pagehead-content {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: antiquewhite;
}

.page-head .pagehead-content h2 {
    position: relative;
    width: fit-content;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 40px;
}

.page-head .pagehead-content h2::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 30%;
    width: 36%;
    height: 3px;
    background: linear-gradient(to right, #e6b6b2, #614dd3);

}