main.birhday {
    background: #FBF8F3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.birhday .container {
    width: 40%;
    background: #fff;
    padding: 40px;
    height: fit-content;
    box-shadow: 0 11px 21px #d4d8e4;
}

.birhday h3.length {
    position: relative;
    margin-left: 10px;
    padding-bottom: 5px;
    color: rgb(12, 12, 104);
}

.birhday h3.length::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #E91E63;
}

.birhday .person {
    padding: 10px;
    height: 110px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1ede5;
}

.birhday .person-content {
    display: flex;
}

.birhday .person .img-bx {
    width: 65px;
    height: 65px;
}

.birhday .person img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.birhday .person .txt-box {
    width: fit-content;
    padding: 10px 10px 0;
    margin-left: 15px;
}

.birhday .person div h4 {
    margin: 0;
}

.birhday .person div p {
    margin-top: 10px;
}

.birhday button {
    width: 100%;
    padding: 10px 30px;
    color: #fff;
    background: #E91E63;
    border: none;
    font-size: 17px;
    margin-top: 25px;
    cursor: pointer;
    text-transform: uppercase;
}