.grocery {
    padding: 80px 0;
    background: #fbf7f4;
}

.grocery .container {
    width: 560px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 1px 15px #3f51b542;
    background: #fff;
}

.grocery .grocery-title {
    width: fit-content;
    margin: 0 auto 30px;
}

.grocery form input {
    width: 82%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #d9e2e3;
}

.grocery form button {
    padding: 12px 20px;
    font-size: 16px;
    width: 18%;
    background: #1a9b94;
    color: #f6f7f7;
    border: none;
    cursor: pointer;
}

.grocery .list {
    margin-top: 40px;
}

.grocery .list .item {
    background: #f6f7f7;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.grocery .item .title {
    width: fit-content;
}

.grocery .item .btns {
    width: fit-content;
    display: flex;
    align-items: center;
}

.grocery .item .btns button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.grocery .item .btns .edit-btn {
    color: #0ac933;
}

.grocery .item .btns .delete-btn {
    color: rgb(255, 0, 0);
}

.grocery .alert {
    text-align: center;
    padding: 4px 0;
}

.grocery .alert-success {
    background: rgba(0, 128, 0, 0.089);
}

.grocery .alert-danger {
    background: rgba(255, 0, 0, 0.11);
}

.grocery .clear {
    width: 100%;
    padding: 11px 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    background: rgba(255, 0, 0, 0.288);
}