.navbar2-page {
    padding: 100px 0;
    background: #faf6f3;
    height: 500px;
}

.navbar2 {
    position: relative;
    background: rgb(26 34 51);
    z-index: 99;
}

.navbar2 .container {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar2 .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.navbar2 .nav-toggle {
    display: none;
}

.navbar2 ul {
    list-style: none;
    display: flex;
    width: fit-content;
    align-items: center;
}

.navbar2 img {
    width: 80px;
}

.navbar2 .links-content {
    display: flex;
}

.navbar2  li {
    margin-left: 30px;
}

.navbar2 .links .link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 0;
}

.navbar2 .social-icons .icon {
    text-decoration: none;
    font-size: 19px;
    color: #faf6f3;
}

@media screen and (max-width: 800px) {
    .navbar2 .nav-header {
        width: 100%;
    }

    .navbar2 img {
        width: 70px;
    }

    .navbar2 .nav-toggle {
        background: none;
        border: none;
        font-size: 22px;
        color: #faf6f3;
        cursor: pointer;
        display: block;
        transition: 0.5s;
    }

    .navbar2 .nav-toggle.toggle-active {
        transform: rotate(45deg);
        color: #ecb22e;
    }

    .navbar2 .links-content {
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        background: rgb(56 37 114);
        overflow: hidden;
        transition: 0.8s;
    }

    .navbar2 .links {
        flex-direction: column;
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .navbar2 .links li {
        padding: 18px 30px;
        margin-left: 0;
    }

    .navbar2 .social-icons {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .navbar2 .links-content { 
        height: auto !important;
    }
}