.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav-active {
    background: #1e242f;
}

.navbar .container {
    width: 92%;
    margin: 0 auto;
}

.navbar .content {
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    width: 40%;
}

.navbar .logo img {
    width: 70px;
    margin-top: 7px;
    cursor: pointer;
}

.navbar .links {
    width: 45%;
    display: flex;
    list-style: none;
    line-height: 55px;
}

.navbar .links li {
    margin-left: 50px;
}

.navbar .links .link {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

.navbar .links .link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 34%;
    width: 30%;
    height: 2px;
    transform: scaleX(0);
    background: linear-gradient(to right, #e6b6b2, #614dd3);
    transition: 0.5s;
}

.navbar .links li:hover .link::before {
    transform: scaleX(3);
}

.navbar .last-link {
    color: #fff;
    text-decoration: none;
    padding: 13px 25px;
    background: linear-gradient(45deg, #614dd3, #e6b6b2);
    margin-left: 110px;
    border-radius: 20px;
}

.navbar .last-link:hover {
    background: linear-gradient(45deg, #e6b6b2, #614dd3);
}

/* phone icon */
.navbar .phone-icon-content {
    display: none;
}
.navbar .phone-icon {
    cursor: pointer;
}

.navbar .icon-bar {
    color: #fff;
    font-size: 36px;
}

@media screen and (max-width: 960px) {
    .navbar {
        background: #1e242f;
    }
    
    .navbar .phone-icon-content {
        display: block;
    }

    .navbar .phone-icon {
        margin-top: 20px;
    }

    .navbar .links {
        width: 100%;
        flex-direction: column;
        height: 500px;
        position: absolute;
        top: 65px;
        left: -100%;
        opacity: 0;
        z-index: 1;
        background: #212b3ce0;
        backdrop-filter: blur(10px);
        padding:30px 0;
        transition: 0.5s;
    }

    .navbar .links li {
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
    }
    
    .navbar .links-active {
        left: 0;
        opacity: 1;
        transition: 0.5s;
    }

    .navbar .last-link {
        margin-left: 0;
        background: none;
        border: 1px solid #fff;
    }

    .navbar .last-link:hover {
        background: none;
    }
}
