.footer {
    position: relative;
    height: 340px;
    background: url('../../../public/images/PageHead\ images/back.png');
    background-size: cover;
    overflow: hidden;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: url('../../../public/images/wave2.png');
    transform: rotate(180deg);
    z-index: 3;
}

.footer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: rgb(30 36 47 / 87%);
}

.footer .container {
    width: 92%;
    margin: 0 auto;
}

.footer .content {
    display: flex;
    justify-content: space-between;
}

.footer .box {
    width: 30%;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.footer .box .box-content {
    width: fit-content;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 15px;
}

.footer li a {
    text-decoration: none;
    color:antiquewhite;
    font-size: 15px;
    padding: 5px 0;
}

.footer .ft-logo {
    align-items: center;
}

.footer .ft-logo img {
    width: 120px;
    cursor: pointer;
}

.footer .ft-logo h4 {
    width: fit-content;
    padding-bottom: 8px;
    margin: 0 auto;
    border-bottom: 1px double #fff;
}

.footer .social-links {
    margin-top: 40px;
    display: flex;
}

.footer .social-links li {
    width: 18%;
    margin-right: 10px;
}

.footer .social-links li  img {
   width:30px;
   height: 30px;
}

/* media query */
@media only screen and (max-width: 768px) {
    
    .footer {
        height: 500px;
    }

    .footer .content {
        flex-wrap: wrap;
    }

    .footer .box {
        width: 100%;
    }

    .footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer ul li {
        margin-right: 20px;
    }

    .footer h4 {
        display: none;
    }

    .footer .ft-logo {
        order: 1;
    }

    .footer .ft-projects {
       order: 2;
    }

    .footer .ft-info{
        order: 3;
        width: 100%;
    }
    
    .footer .ft-info .info-links {
        display: none;
    }

}