.sidebar-app {
    position: relative;
    padding: 80px 0;
    background: rgb(250 246 243);
    height: 600px;
}

.sidebar-app .container {
    width: 92%;
    margin: 0 auto;
}

.sidebar-home .toggle-btn {
    position: absolute;
    top: 0;
    left: 55px;
    background: none;
    border: none;
    font-size: 30px;
    color: cadetblue;
    cursor: pointer;
    animation: bars 1s infinite linear alternate-reverse;
}

.sidebar-home {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-home .btn {
    background: blueviolet;
    padding: 14px 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.modal-overlay  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(250, 246, 243, 0.877);
    overflow: hidden;
    margin: 0 auto;
    display: none;
}

.modal-overlay .modal-container {
    position: relative;
    width: 500px;
    height: 170px;
    line-height: 170px;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 15px #3f51b51e;
}

.modal-overlay h3 {
    margin: 0;
}

.modal-overlay .modal-container .close-modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: none;
    background: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.modal-overlay.show-modal {
    display: flex;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -330px;
    width: 330px;
    height: 600px;
    background: #fff;
    padding: 20px 0;
    border-right: 2px solid #e9e9ed;
    transition: 0.7s;
}

.sidebar.show-sidebar {
    left: 0;
}

.sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 60px;
}

.sidebar .sidebar-header h3 {
    margin: 0;
    width: fit-content;
    text-transform: uppercase;
}

.sidebar .close-content {
    width: fit-content;
}

.sidebar .close-content .close-btn {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: none;
    border: none;
    color: red;
    font-size: 22px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .sidebar-links li {
    margin-bottom: 15px;
    transition: 0.4s;
}

.sidebar .sidebar-links li a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(60, 4, 124);
}

.sidebar .sidebar-links li a .icon {
    margin-right: 10px;
    padding: 0 20px;
}

.sidebar .sidebar-links li:hover {
    background: rgb(250 246 243);
}

.sidebar .social-icons {
    position: absolute;
    bottom: 20px;
    left: 20%;
    display: flex;
    width: fit-content;
}

.sidebar .social-icons li {
    margin: 0 10px;
}

.sidebar .social-icons li a {
    font-size: 19px;
}

@keyframes bars {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}