.tabs {
    background: #fbf7f4;
}

.tabs .tabs-content {
    width: 84%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.tabs .tabs-btns {
    width: 10%;
}

.tabs .tabs-btns button {
    margin-bottom: 25px;
    background: none;
    border: none;
    color: rgb(12, 40, 94);
    font-size: 17px;
    cursor: pointer;
    padding: 5px 15px;
    text-transform: uppercase;
    border-left: 2px solid transparent;
}

.tabs .tabs-btns button.active-btn {
    border-left: 2px solid rgb(184, 18, 120);
}

.tabs .job-info {
    width: 85%;
}

.tabs .job-info h3 {
    margin-top: 0;
    color: rgb(12, 40, 94);
}

.tabs .job-info h4 {
    color: rgb(184, 18, 120);
}

.tabs .job-info .duty-icon {
    color: rgb(184, 18, 120);
}
